{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
	<!--Fonte-->
	<link href="{% static "pads/css/opensans.css" %}" rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
	<title>Início-PADS</title>
	<LINK REL="SHORTCUT ICON" href="{% static "pads/figuras/logo1.png" %}">
    <!-- Bootstrap -->
    <!--<link href="{% static "pads/css/bootstrap.css" %}" rel="stylesheet">-->
	<link href="{% static "pads/css/main.css" %}" rel="stylesheet">
	
	
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
	
	<!-- Header: Apresentação e LOGO -->

   <div id="pagina">

		<table>
				<thead>
					<tr>
						<th>
							<div id="header-logo"> 
								<img class ="logo" src="{% static "pads/figuras/logo1.png" %}" alt="Logo do PADS">
							</div> 
						</th>
						<th>
							<div id="header-name" class="color-theme-name">
									<p>PADS</p> 
									<p  class="top-border">Laboratório para o Processamento  Analógico e Digital de Sinais</p>
<!--									<p class="title">PADS</p> 
									<p>Laboratório para o Processamento </p>
									<p>Analógico e Digital de Sinais</p> -->
									<p>PEE/COPPE/UFRJ</p>
							</div>				
						</th>
						<th class="valign_bottom">
							<div id="header-languages">
									<a href="https://webmail.pads.ufrj.br/cgi-bin/openwebmail/openwebmail.pl"><img src="{% static "pads/figuras/icon_mail.png" %}" alt="pt"></a>
									<a href="{% url 'main_pt' %}"><img src="{% static "pads/figuras/pt.jpg" %}" alt="pt"></a>
									<a href=#><img src="{% static "pads/figuras/en.png" %}" alt="en"></a>
							</div>
						</th>					
					</tr>
					<tr>
						<th colspan="3" class="nav color-theme">					
									<ul>
										<li> <a href="{% url 'main_pt' %}" > Início </a> </li>
										<li> <a href="{% url 'equipe' %}" > Equipe </a></li>
										<li> <a href=# > Atividades </a></li>
										<li> <a href=# > Publicações </a></li>
										<li> <a href="{% url 'equipamentos' %}" > Equipamentos </a></li>
										<li> <a href=# > Contato </a></li>
										<li> <a href="https://webmail.pads.ufrj.br/cgi-bin/openwebmail/openwebmail.pl" > Webmail </a></li>
									</ul>
						</th>	
					</tr>					
				</thead>
				<tbody>
					<tr>
						<td colspan="3">
							<div id="main">
								<div class="title_h1">
									<img src="{% static "pads/figuras/header_icon.png" %}"/>
									<h1>Professors </h1>
								</div>
								{% if professor_lista %}
								<div id="user">
									<div id="user_photo">
										<img class="photo" src="{% static "pads/figuras/Users/users_logo.png" %}" alt="User">
									</div>
									<div id="user_info">
										<ul>
										{% for professor in professor_lista %}
											<li class="name"> {{ professor.nome }} </li>
											<li class="other"> {{ professor.cargo }} </li>
											<li class="other"> Areas of Interests: Circuits </li>
										{% endfor %}
										</ul>
									</div>
								</div>
								{% endif %}
								<div class="title_h1">
									<img src="{% static "pads/figuras/header_icon.png" %}"/>
									<h1>Students </h1>
								</div>
								{% if aluno_lista %}
									{% for aluno in aluno_lista %}
									<div id="user">
										<div id="user_photo">
											<img class="photo" src="{% static "pads/figuras/Users/users_logo.png" %}" alt="User">
										</div>
										<div id="user_info">
											<ul>
												<li class="name"> {{ aluno.nome }} </li>
												<li class="other"> {{ aluno.cargo }} </li>
												<li class="other"> Areas of Interests: Circuits </li>
											</ul>
										</div>
									</div>
									{% endfor %}
								{% endif %}
							</div>
						</td>  
					</tr>
                
					<tr>
						<td colspan="3">
							<!-- Parte Inferior da Página -->
							<div class="nav color-theme">
									<p id="bottom">PADS   -   PEE/COPPE/UFRJ   Centro de Tecnologia, sala H-320 e H-206   Cidade Universitária, Ilha do Fundão   -   Rio de Janeiro   -   RJ   -   BRASIL <br>
									Caixa Postal 68504 21945-970 - +55 (21) 2562-8570 / 2562-8569 / 2562-8568  Copyright © 2015 </p>
							</div>
						</td>
					</tr>              
				</tbody>
        </table>
   </body>
</html>