/*geral*/
*{
	font-family:serif;
}
p{
	font-size:17px;
	text-indent: 2em;
}

/* img {
    max-width: 100%;
    height: auto;
} */


#pagina{
	width:960px;
	margin:auto;
}

/* Config da Tabela de página*/
table {
    table-layout: initial;
    border-collapse: collapse;
}

table th{
	white-space:nowrap;
}

.valign_bottom{
	vertical-align: bottom;
}


/*THEME*/
.color-theme{
	background-color:rgb(0,104,56);/*Teal*/
	color:white;
	/* border-color:white; Parece Desnecessário*/
}

.color-theme a{
		color:white;
}

.color-theme a:hover{
		background-color:#669999;/*#66CC99;*/
		/* color:#99CCCC; */
}

.color-theme-name p{
	color:rgb(0,104,56)/*Teal*/ ;
}

/*Figura do Logo*/
.logo{
	 width:110px;
	 height:110px;
}

/*Header*/
#header-logo{
	margin-left:28px;
}


#header-name {
	margin-top:2.6px;
	margin-left:17px;
}

#header-name p{
	font-size:24px;
	text-align:left;
	text-indent:0em;
	margin:0em;
	width:initial;
}

.top-border{
	text-decoration:overline;
}


#header-languages{
	text-align:right;
	position:relative;
	top:2.6px;
	right:-0.87px;
}

#header-languages img {
	width:26px;
	height:18px;	
}

#header-languages  a:hover{
	background-color:transparent;
}



/*Barra de Navegação*/
.nav{
	font-size:17px;
	position:relative;
	/* border-radius:100px; */
	
}

.nav ul{
	  list-style-type: none;
      position:relative;
	  text-align:center;
	  margin:4.3px 0px 4.3px 0px;
}

.nav li{
	 display:inline;
	 position:relative;
	 left: -13px;
	 border-right:2.6px solid;
}

.nav  li:last-child{
	border-right:17.4px solid transparent;
}

.nav a{
	text-decoration:none;
	text-align:center;
    position:relative;
	padding: 4.3pt 17pt 4.3pt 17pt;
}


.nav a:hover{
	border-radius:80px;
}

/*Corpo*/
#main{
	width:70%; 
	margin:auto; 
	text-align:justify;
}

/*BOTTOM p*/
#bottom{
	position:relative;
	margin:0px;
	padding:0.87px 0px 0.87px 0px;
	text-align:center;
	font-size: 12px;
	font-weight:bold;
	text-indent:0em;
}
