/*geral*/
*{
	font-family:'Open Sans';
	font-size:15px;
}
p{
	text-indent: 2em;
}


h3{
	color:#336699;
	font-weight:bold;
	font-size:18px;
}

/* img {
    max-width: 100%;
    height: auto;
} */


#pagina{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

/* Config da Tabela de página*/
table {
    table-layout: initial;
    border-collapse: collapse;
}

table th{
	white-space:nowrap;
}

body{
	background-color: /*#CCFFCC*//*CCCCFF*/
}

.valign_bottom{
	vertical-align: bottom;
}


/*THEME*/
.color-theme{
	background-color:rgb(0,104,56);/*Teal*/
	color:white;
	/* border-color:white; Parece Desnecessário*/
}

.color-theme a{
		color:white;
}

.color-theme a:hover{
		background-color:#336699;/*#669999;#66CC99;*/
		/* color:#99CCCC; */
		/* color:rgb(0,104,56); */
}

.color-theme-name p{
	color:rgb(0,104,56)/*Teal*/ ;
}

/*Figura do Logo*/
.logo{
	 width:162px;
	 height:162px;
}

/*Header*/
#header-logo{
	margin-left:10px;
}


#header-name {
	margin-top:2.6px;
	margin-left:10px;
}

#header-name p{
	font-size:28px;
	text-align:left;
	font-weight: normal;
	text-indent:0em;
	margin:0px;
}

#header-name .title{
	border-bottom:3px solid;
	font-size:40px;
}

.top-border{
 	/* text-decoration:overline; */
	border-top:3px solid;
	display:inline;
	position:relative;
	/*left:-13px;*/
	padding:0px;
}


#header-languages{
	text-align:right;
	position:relative;
	top:2.6px;
	right:-0.87px;
}

#header-languages img {
	width:26px;
	height:18px;	
}

#header-languages  a:hover{
	background-color:transparent;
}



/*Barra de Navegação*/
.nav{
	position:relative;
	/* border-radius:100px; */
	
}

.nav ul{
	  list-style-type: none;
      position:relative;
	  text-align:center;
	  margin:4.3px 0px 4.3px 0px;
}

.nav li{
	 display:inline;
	 position:relative;
	 left: -13px;
	 border-right:2.6px solid;
}

.nav  li:last-child{
	border-right:3px solid transparent;
}

.nav a{
	text-decoration:none;
	text-align:center;
	font-size:24px;
	font-weight:normal;
    position:relative;
	padding: 4.3pt 17pt 4.3pt 17pt;
}


.nav a:hover{
	border-radius:10px;
}

/*Corpo*/
#main{
	width:960px; 
	padding:10px;
	margin:auto;
	text-align:justify;
}


.title_h1{
	padding:0px;
	margin:0px;
}

.title_h1 img{
	float:left;
	width: 50px;
	height: 50px;
	margin:5px;
	z-index: 1;
}

.title_h1 h1{
	font-size:32px;
	font-weight:normal;
	position: relative;
	top: 0px;
	left: 10px;
	width:930px;
	height:50px;
	border-radius:30px;
	margin: 0px;
	padding: 5px;
	background: rgb(0,104,56);
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, white 20%,rgb(0,104,56)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white 20%, rgb(0,104,56)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white 20%, rgb(0,104,56)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white 20%, rgb(0,104,56)); /* Standard syntax */
	z-index: -1;
}



#user {
	padding: 10px;
	margin: 5px;
}

#user_photo{
	float:left;
	width:120px;
	height:160px;
}

#user_photo .photo{
	width:120px;
	height:160px;
}

#user_info{
	width:790px;
	height:160px;
	margin-left:130px;
	padding:0px;
}

#user_info ul{
	list-style-type: none;
	margin:0px;
	padding-left:5px;
}


#user_info .name{
	font-size: 27px;
	font-weight: normal;
}

#user_info .other{
	font-size: 18.7px;
	font-weight: normal;
}

/*BOTTOM p*/
#bottom{
	position:relative;
	margin:0px;
	padding:1px 0px 1px 0px;
	text-align:center;
	font-size: 12px;
	font-weight:bold;
	text-indent:0em;
}
