@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  url('fontes/300.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('fontes/400.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fontes/700.woff2') format('woff2');
}
